#sbx-drawer{
    text-align: center;
    color: rgb(160, 155, 155);
    white-space: normal;
    margin-bottom: 0
}

#sbx-drawer-footer{
    padding: 15px;
    font-size: 8pt;
    text-align: center;
    color: #9c9c9c
}

.sbx-drawer-bodylist{
    height: calc(100vh - 178px);
    overflow-y: auto
}